.admin-container {
    margin: 1.5rem;

    &__form {
        border-radius: 0.5rem;
        padding: 1.5rem;
        background: $c-adp-header-bcg;
        margin: 24px auto;
    }

    &__form-header {
        padding-bottom: 16px;
        border-bottom: 1px solid $c-adp-header-border;
        box-sizing: border-box;
        @include font-type-3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__items {
        @include font-type-6;
        display: flex;
        justify-content: space-between;
        padding: 0.375rem 0.75rem;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        margin-top: 5px;
        box-sizing: border-box;

        input {
            @include font-type-6;
            color: #495057;
            width: 100%;

            &::placeholder {
                opacity: 0.6;
            }

            &:focus {
                background-color: $c-adp-hov;;
                border-color: rgba(189, 189, 189, 0.29);
                outline: 0;
                box-shadow: 0 0 0 0.1rem rgb(158 158 158 / 14%);
            }
        }

    }

    &__search-element-wrapper {
        display: flex;
        flex-direction: column;
        gap:10px;
    }

    &__search-wrapper {
        display: flex;
        justify-content: space-between;
        width: 70%;
    }

    &__search-bar {
        width: 100%;
        max-width: 400px;
        height: 35px;

        border: 1px solid rgba(0, 0, 0, 0.47);
        padding: 0 20px 0 40px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: 9px 50%;

        @include font-type-6;
        color: #495057;

        &::placeholder {
            opacity: 0.6;
        }

        &:focus {
            background-color: $c-adp-hov;;
            border-color: rgba(189, 189, 189, 0.29);
            outline: 0;
            box-shadow: 0 0 0 0.1rem rgb(158 158 158 / 14%);
        }
    }

    &__label {
        color: $c-adp-btn;
    }

    &__select {

        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;

        width: 100%;
        height: 100%;

        color: $c-adp-btn;

        &:focus {
            background-color: $c-adp-hov;
            border-color: rgba(189, 189, 189, 0.29);
            outline: 0;
            box-shadow: 0 0 0 0.1rem rgb(158 158 158 / 14%);
        }

        option {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;

            width: 100%;
        }
    }

    &__form-body {
        padding-top: 16px;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding-bottom: 10px;
    }


    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        position: relative;

        &:before, &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1px;
            background-color: #ccc;
        }

        &:before {
            left: calc(50% - 5px);
        }

        &:after {
            right: calc(50% - 5px);
        }
    }

    &__grid-right {
        padding-left: 35px;
    }

    &__grid-left {
        padding-right: 35px;
    }

    &__table {
        width: 100% !important;
        border: 1px solid #dddddd;
        border-collapse: collapse;

        thead {
            color: $c-adp-btn;
        }

        tbody {
            text-align: center;

            tr:hover {
                transition: $transition-btn;
                background-color: $c-adp-hov !important;
            }
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 10px;
        }

        thead tr th:first-child, .table tbody tr td:first-child {
            border-left: none;
        }

        thead tr th:last-child, .table tbody tr td:last-child {
            border-right: none;
        }

        tbody tr:nth-child(even) {
            background: #f3f3f3;
        }

        .ban {
            background-color: rgba(255, 0, 0, 0.17) !important;

            &:hover {
                background-color: rgba(255, 0, 0, 0.27) !important;
            }
        }
    }

    &__table_last_cell {
        display: flex;
        gap: 0.5rem;
        border: none !important;
        justify-content: space-around;
    }

    &__table_last_cell_edit, &__table_last_cell_trash{
        cursor: pointer;
        width: 22px;

        svg {
            overflow: visible;
            transform: rotate(0deg) scale(1.2);
            transition: transform 0.5s ease;

            &:hover {
                transform: rotate(-15deg) scale(1.7);
            }
        }
    }

}
