.admin-halls {

    &__map-container {
        .fade-in {
            opacity: 0;
            animation: fadeIn 1s ease-in-out forwards; /* forwards сохраняет состояние после завершения анимации */
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    //.border-animation {
    //    @keyframes linearGradientMove {
    //        100% {
    //            background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
    //        }
    //    }
    //
    //    border: none;
    //    background: linear-gradient(90deg, $c-adp-btn-hover 50%, transparent 0) repeat-x,
    //    linear-gradient(90deg, $c-adp-btn-hover 50%, transparent 0) repeat-x,
    //    linear-gradient(0deg, $c-adp-btn-hover 50%, transparent 0) repeat-y,
    //    linear-gradient(0deg, $c-adp-btn-hover 50%, transparent 0) repeat-y;
    //    background-size: 8px 2px, 8px 2px, 2px 8px, 2px 8px;
    //    background-position: 0 0, 0 100%, 0 0, 100% 0;
    //    animation: linearGradientMove .3s infinite linear;
    //}

    .selected path {
        stroke-width: 2; /* Измените толщину обводки на свой выбор */
        animation: pulse 3s infinite; /* Увеличьте общую продолжительность анимации */
    }

    @keyframes pulse {
        0% {
            fill: red;
        }
        25% {
            fill: red; /* Цвет остается неизменным в течение 25% анимации */
        }
        50% {
            fill: black;
        }
        75% {
            fill: black; /* Цвет остается неизменным в течение 25% анимации */
        }
        100% {
            fill: red;
        }
    }

    &__seat {
        transform: scale(0.8);
    }

    &__hidden {
        display: none !important;
    }

    &__border-map {
        border: 5px black solid;
    }

    &__preview-map {
        position: relative;

        max-width: 1000px;
        max-height: 700px;
    }

    &__map-context-menu {
        position: absolute;
        z-index: 999;

        /* не показываем меню с самого начала */
        display: none;
        background-color: #fff;
        border: 1px solid #333;

        /* Добавим тени */
        -moz-box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
        box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        ul li {
            margin: 0;
            padding: 4px 10px;
            background-color: #fff;
            display: block;
        }

        ul li:hover {
            background-color: $c-adp-hov;
            cursor: pointer;
        }
    }

    &__map {
        width: 1000px;
        height: 700px;
    }

    @keyframes clippath {
        0%,
        100% {
            clip-path: inset(0 0 95% 0);
        }
        25% {
            clip-path: inset(0 95% 0 0);
        }
        50% {
            clip-path: inset(95% 0 0 0);
        }
        75% {
            clip-path: inset(0 0 0 95%);
        }
    }

    &__close-button {
        position: absolute;
        top: 5px;
        right: 5px;

        background-color: red;
        border-radius: 50%;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        padding: 5px;
    }

    &__map-body {
        width: 100%;
        position: relative;
        text-align: center;
        box-sizing: border-box;

        input {
            opacity: 0;
            visibility: hidden;
            position: absolute;
        }

        label {
            background-color: #545cd8;
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 0.25rem;
            padding: 0 10px;

            svg {
                fill: white;
                width: 40px;
                height: 46px;
            }

            &:hover {
                background-color: #474eb8;
            }
        }
    }

    &__rows {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__row-number {
        font-size: 30px;
        font-weight: 700;
        color: #45454c;
        margin: 0;
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__row-icons {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__body {
        padding-top: 20px;
    }

    &__seats-type {
        width: 100%;
        height: 100%;
        padding: 12px 20px;
        background-color: white;
        color: #495057;
        border: solid 1px rgba(0, 0, 0, 0.29);
        border-radius: 20px;
        box-sizing: border-box;
        outline: none;
        @include font-type-6;

        &:focus {
            border: 1px solid #4d4d4d;
            box-shadow: 0 0 0 0.1rem rgb(158 158 158 / 14%);
        }
    }

    &__seats {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding-bottom: 20px;
    }

    &__seats-title {
        @include font-type-3;
        margin: 0 auto;
    }

    &__seats-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
        box-sizing: border-box;
        margin: 20px 0;
        border: 1px solid gray;
        padding: 15px;

        align-items: flex-end;
    }

    &__seats-body {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        gap: 5px;
        box-sizing: border-box;
        width: 750px;
        padding: 0;

    }

    &__body-wrapper {
        display: flex;
        justify-content: space-around;
        padding: 0.375rem 0.75rem;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        box-sizing: border-box;
        width: 650px;
        margin: 20px 0;

        input, select {
            @include font-type-6;
            color: #495057;
            width: 170px;

            &::placeholder {
                opacity: 0.6;
            }

            &:focus {
                background-color: $c-adp-hov;;
                border-color: rgba(189, 189, 189, 0.29);
                outline: 0;
                box-shadow: 0 0 0 0.1rem rgb(158 158 158 / 14%);
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;

    }

    &__body {
        padding-top: 20px;
    }

    &__form {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 20px;
    }

    &__title {
        text-align: center;
        border-top: 1px solid #545cd8;
        padding: 10px 0;
        margin: 0 auto;
    }

    &__form-left, &__form-right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
    }

    &__edit_theatres {
        position: relative;
        cursor: pointer;
        z-index: 10;
    }

    &__items {
        @include font-type-6;
        padding: 0.375rem 0.75rem;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        box-sizing: border-box;
        margin-top: 10px;

        input, textarea {
            @include font-type-6;
            color: #495057;
            width: 100%;

            &::placeholder {
                opacity: 0.6;
            }

            &:focus {
                background-color: $c-adp-hov;;
                border-color: rgba(189, 189, 189, 0.29);
                outline: 0;
                box-shadow: 0 0 0 0.1rem rgb(158 158 158 / 14%);
            }
        }
    }

    &__item-button-wrapper {
        padding: 10px;
    }

    &__preview-container {
        display: flex;
        gap: 5px;
        width: 100%;
        overflow: auto;

        img {
            width: 150px;
            height: 210px;
            object-fit: cover;
        }
    }

    &__item-body {
        display: flex;

        gap: 10px;
        box-sizing: border-box;

        textarea {
            width: 100%;
            min-height: 124px;
            resize: none;
        }
    }

    &__add-seat-btn, &__save-seat-btn, &__save-new-seat-btn {
        display: flex;
        align-items: center;
        text-align: center;
        background-color: $c-adp-btn;
        border: 1px solid $c-adp-header-border;
        padding: 0.375rem 1.75rem;
        border-radius: 0.25rem;
        cursor: pointer;
        color: $c-white;
        margin-top: 20px;

        &:hover {
            background-color: $c-adp-btn-hover;
        }
    }

    &__delete-icon, &__remove-rows {
        position: relative;
        margin-right: 5px;
        z-index: 20;

        svg {
            fill: #545cd8;
            cursor: pointer;
            width: 25px;
            height: 25px;

            &:hover {
                animation: rotateAnimation 0.2s forwards;
                fill: #f34c4c;
                transform: rotate(10deg);
            }
        }
    }

    @keyframes rotateAnimation {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(10deg);
        }
        50% {
            transform: rotate(0deg); /* Половина пути в одну сторону */
        }
        75% {
            transform: rotate(-10deg);
        }
        100% {
            transform: rotate(0deg); /* Возвращение на место */
        }
    }
}
