.admin-theatres {

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__form {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 20px;
        margin-right: 24px;

        :last-child {
            grid-column: span 2;
        }
    }

    &__body-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 20px;
    }

    &__form-left, &__form-right {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__table {
        width: 100% !important;
        border: 1px solid #dddddd;
        border-collapse: collapse;
        margin-bottom: 10px;

        form {
            margin: 0 auto;
            padding: 5px 0;
        }

        thead {
            color: $c-adp-btn;
        }

        tbody {
            text-align: center;

            tr:hover {
                transition: $transition-btn;
                background-color: $c-adp-hov !important;
            }
        }

        th,
        td {
            border: 1px solid #ddd;

        }

        thead tr th:first-child, .table tbody tr td:first-child {
            border-left: none;
        }

        thead tr th:last-child, .table tbody tr td:last-child {
            border-right: none;
        }

        tbody tr:nth-child(even) {
            background: #f3f3f3;
        }

        .ban {
            background-color: rgba(255, 0, 0, 0.17) !important;

            &:hover {
                background-color: rgba(255, 0, 0, 0.27) !important;
            }
        }
    }

    &__edit_theatres {
        position: relative;
        cursor: pointer;
        z-index: 10;
    }

    &__items {
        @include font-type-6;
        padding: 0.375rem 0.75rem;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        box-sizing: border-box;
        margin-top: 10px;

        input,textarea {
            @include font-type-6;
            color: #495057;
            width: 100%;

            &::placeholder {
                opacity: 0.6;
            }

            &:focus {
                background-color: $c-adp-hov;
                border-color: rgba(189, 189, 189, 0.29);
                outline: 0;
                box-shadow: 0 0 0 0.1rem rgb(158 158 158 / 14%);
            }
        }
    }

    &__item-button-wrapper{
        padding : 10px;
    }

    &__preview-container {
        display: flex;
        gap: 5px;
        width: 100%;
        overflow: auto;

        img {
            width: 150px;
            height: 210px;
            object-fit: cover;
        }
    }

    &__item-body {
        display: flex;

        gap: 10px;
        box-sizing: border-box;

        textarea {
            width: 100%;
            min-height: 330px;
            resize: none;
        }
    }

    &__delete-seat-type-icon, &__delete-hall-icon {
        position: relative;
        margin-right: 5px;
        z-index: 20;

        svg {
            fill: #545cd8;
            cursor: pointer;
            width: 25px;
            height: 25px;

            &:hover {
                animation: rotateAnimation 0.2s forwards;
                fill: #f34c4c;
                transform: rotate(10deg);
            }
        }
    }

    @keyframes rotateAnimation {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(10deg);
        }
        50% {
            transform: rotate(0deg); /* Половина пути в одну сторону */
        }
        75% {
            transform: rotate(-10deg);
        }
        100% {
            transform: rotate(0deg); /* Возвращение на место */
        }
    }
}
