.booking {

    &__hero {
        display: flex;
        //border-top: 1px solid rgba(255, 255, 255, 0.15);
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        padding: 20px 0;
    }

    &__poster {
        position: relative;
        flex: 0 0 auto;
        width: 85px;
        margin: -5px 0px;
        align-self: center;

        img {
            width: 55px;
            height: 80px;
            border-radius: 5px;
        }

        &:after {
            content: "";
            position: absolute;
            inset: 0;
            opacity: 0.2;
            background: rgb(39, 39, 42);
        }
    }

    &__description {
        width: 100%;
        gap: 10px;
        color: white;
        opacity: 0.8;

        svg {
            width: 24px;
            height: 24px;
            margin-right: 12px;

            text {
                opacity: 0.8;
                color: white;
            }

            path {
                fill: rgba(255, 255, 255, 0.35);
            }
        }
    }

    &__movie-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: top;
        margin: 0;
        font: 700 1em / 1.625em Ubuntu, Roboto, Arial, Helvetica, sans-serif;
    }

    &__movie-address-wrapper {
        display: flex;
    }

    &__movie-name {
        color: white;
        opacity: 0.8;
        text-size-adjust: 100%;
        white-space: pre-line;
        font: 700 2.25em / 42px Ubuntu, Roboto, Arial, Helvetica, sans-serif;
        margin: 0;
    }

    &__movie-date-wrapper {
        display: flex;
    }

    &__movie-date {
        display: flex;
    }

    &__movie-age-limit {
        border: 2px solid rgb(119, 118, 119);
        border-radius: 50%;
        padding: 2px;
        margin-top: -5px;
        height: 33px;
        width: 33px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__notification {
        width: 62.5%;
        display: none;
    }

    &__notification-wrapper {
        margin: 17px auto 15px;
        padding: 16px;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 15px;
    }

    &__notification-title {
        padding: 0;
        margin: 0 0 16px;
        font-size: 22px;
        font-weight: 700;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.8);
    }

    &__notification-text {
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        color: rgb(140, 134, 134);
    }

    &__body-wrapper {
        display: flex;
        margin-top: 25px;
    }

    &__body-left-column {
        width: 62.5%;
        box-sizing: border-box;
    }

    &__body-right-column {
        margin: 0;
        padding-left: 40px;
        width: 37.5%;
        position: relative;
    }

    &__right-column-content {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    &__right-column-seats-type-title {
        white-space: pre-line;
    }

    &__right-column-seats-type-title, &__right-column-seats-type-amount, &__right-column-seats-type-price {
        margin: 25px 0;
        text-size-adjust: 100%;
        font: 700 1.47em / 30px Ubuntu, Roboto, Arial, Helvetica, sans-serif;
        color: rgba(255, 255, 255, 0.8);
        gap: 10px;

        span {
            font-weight: 400;
            font-size: 0.8em;
        }
    }

    &__right-column-seats-type-amount, &__right-column-seats-type-price {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__right-column-theatre-name {
        color: rgba(255, 255, 255, 0.8);
        line-height: 50px;
        opacity: 0.5;
    }

    &__right-column-seat-type-item, &__right-column-seat-type, &__right-column-seat-type-ticket {
        border-top: 1px solid rgba(255, 255, 255, 0.15);
    }

    &__right-column-seat-type-ticket {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        button {
            width: 100%;
            border: none;
            border-radius: 22px;
            padding: 9px 30px;
            position: relative;
            background: rgba(255, 255, 255, 0);
            box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px inset;
            color: rgba(255, 255, 255, 0.8);

            &:hover {
                color: rgb(24, 24, 24);
                background: rgb(255, 255, 255);
                box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 2px inset;
            }
        }
    }

    &__right-column-seat-type-item {
        padding-top: 25px;

        button {
            width: 100%;
            color: rgba(255, 255, 255, 0.35);
            box-shadow: rgba(255, 255, 255, 0.35) 0 0 0 2px inset;
            border-radius: 22px;
            height: 44px;
            padding: 9px 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background: none;
            pointer-events: none;
        }
    }

    &__right-column-seat-type {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    &__right-column-seat-type-title {
        color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: space-between;
    }

    &__right-column-seat-type-description {
        font-size: 14px;
        line-height: 24px;
        color: rgba(200, 199, 198, 0.8);
    }

    &__active {
        display: block;
    }

    &__map {
        width: 800px !important;

        path {
            fill: rgba(255, 255, 255, 0.8);
        }

        text {
            color: rgba(255, 255, 255, 0.8);
        }
    }

    &__seat-blocking {
        path {
            fill: rgba(255, 255, 255, 0.20);
            cursor: not-allowed;
        }

        text {
            cursor: not-allowed;
        }
    }

    &__seat-booking {
        path {
            fill: rgb(149, 27, 129);
        }
    }
}
