.movie {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        height: 80px;

        cursor: default;
        position: sticky;
        top: 0;
        z-index: 100;
        transition: all 0.2s ease 0s;
        background: rgba(39, 39, 42, 0.8);
        box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 0;
    }

    &__header-name {
        color: rgba(255, 255, 255, 0.35);
        font: 700 1.125em / 1.75em Ubuntu, Roboto, Arial, Helvetica, sans-serif;
    }

    &__header-btn-back {
        background: none;
        border: none;
        display: inline-block;
        vertical-align: top;
        width: 40px;
        margin: -15px -9px;
        padding: 29px 9px;
        line-height: 0;
        color: rgba(255, 255, 255, 0.35);
        transition: all 0.2s ease 0s;
        cursor: pointer;
        box-sizing: border-box;
        pointer-events: all;

        &:hover {
            color: rgb(255, 255, 255);
        }
    }

    &__body-sort-menu {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }

    &__body-sort-menu-items {
        width: 100%;
    }

    &__body-menu-left {
        border-right: 1px solid rgba(255, 255, 255, 0.15);
    }

    &__body-menu-right {
        border-left: 1px solid rgba(255, 255, 255, 0.15);
    }

    &__select {
        position: relative;
    }

    &__select-header {
        color: #bdbaba;

        .movie__svg-icon {
            width: 30px;
            height: 30px;

            path {
                fill: #bdbaba;
            }
        }

        &:hover {
            color: white;
            cursor: pointer;

            .movie__svg-icon {
                path {
                    fill: white;
                }
            }
        }
    }

    &__svg-arrow {
        width: 22px;
        height: 22px;
        color: rgb(212, 7, 84);
        transition: all 0.2s ease 0s;
    }

    &__select-body {
        position: absolute;
        width: 100%;
        background-color: white;
        transition: 250ms ease-in-out;
        z-index: 999;
    }

    &__select-header-content {
        padding: 10px;
        gap: 10px;
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__select-theatre-options, &__select-date-options, &__select-time-options {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;

        &::after {
            content: "";
            opacity: 0;
            position: absolute;
        }

        &:hover {
            color: rgb(28, 156, 223);
            cursor: pointer;

            &:after {
                color: rgb(28, 156, 223);
            }
        }

        span {
            color: rgba(24, 24, 24, 0.35);
            font-size: 0.875em;
            line-height: 24px;
            display: block;
        }
    }

    &__theatre-selected, &__date-selected, &__time-selected {
        padding-left: 50px;
        transition: 250ms ease-in-out;
        justify-content: center;
        color: red;

        &::after {
            content: "✓";
            font-size: 30px;
            position: absolute;
            opacity: 1;
            left: 10px;
            color: red;
            transition: 500ms ease-in-out;
        }
    }

    &__svg-rotate {
        transform: rotate(180deg);
    }

    &__hidden {
        position: relative;
        opacity: 0;
        visibility: hidden;
        height: 0;
        margin: 0;
        top: -999px;
        z-index: -999;

        &:hover {
            pointer-events: none;
        }
    }

    &__body-content {
        display: flex;
        margin: 45px 0;
    }

    &__left-column-movie-description {
        margin: 15px 0;
        color: rgba(255, 255, 255, 0.35);
    }

    &__left-column-movie-name {
        text-size-adjust: 100%;
        font: 700 3.125em / 60px Ubuntu, Roboto, Arial, Helvetica, sans-serif;
        margin: 0;
        color: rgba(255, 255, 255, 0.8);
    }

    &__left-column-movie-options {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    &__left-column-movie-poster {
        margin-right: 30px;
        z-index: -999;

        img {
            width: 120px;
            height: 180px;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    &__right-column-movie-frame {

        img {
            width: 270px;
            height: 150px;
        }
    }

    &__left-column-movie {
        display: flex;
        margin-bottom: 40px;
    }

    &__body-right-column {
        padding-left: 55px;
        flex: 0 0 auto;
        width: 29%;
        max-width: 29%;
        min-width: 300px;
    }


    &__right-column-movie-description {
        margin: 10px 0;
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
    }

    &__body-left-column {
        flex: 1 1 auto;
    }

    &__left-column-theatre {
        border-top: 5px solid rgba(255, 255, 255, 0.15);
        //border-bottom: 5px solid rgba(255, 255, 255, 0.15);
        color: rgba(255, 255, 255, 0.8);
        display: flex;
        opacity: 1;
        transition: ease-in-out 250ms;
    }

    &__left-column-theatre-wrapper {
        padding: 35px 0;
    }

    &__left-column-theatre-options {
        display: flex;
        width: 190px;
        padding-right: 40px;
        font-size: 0;
    }

    &__theatre-options-name {
        line-height: 1.4em !important;
    }

    &__theatre-options-address {
        color: rgba(255, 255, 255, 0.35);
        font-size: 14px;
        line-height: 24px;
        margin: 10px 0;
    }

    &__hall {
        margin: 0 10px;
    }

    &__hall-wrapper {
        color: white;
        text-decoration: none;
        position: relative;
        width: 100%;
        min-height: 144px;
        margin: 20px 0 ;
        padding: 20px;
        cursor: pointer;
        user-select: none;
        border: 2px solid rgba(255, 255, 255, 0.15);
        border-radius: 22px;
        text-align: center;
        transition: all 0.2s ease 0s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
            color: white;
            border: 2px solid white;
        }
    }

    &__hall-load {
        height: 10px;
        width: 50%;
        background: rgb(63, 182, 24);
        z-index: -999;

        &:before {
            position: absolute;
            content: "";
            background: rgba(255, 255, 255, 0.15);
            height: 10px;
            width: 118px;
            bottom: 20px;
            left: 20px;
        }
    }

    &__right-column-halls {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }

    &__hall-options {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__loading {
        opacity: 0;
    }

    &__inactive-link {
        pointer-events: none;
        border: 2px solid rgba(255, 0, 0, 0.31);
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: rgba(255, 0, 0, 0.31);
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }

    }
}
